/*Monserrat font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$Montserrat: 'Montserrat', sans-serif;

/*Futura Light font*/
@font-face 
{
    font-family: Futura Light;
    src: url("../fonts/Futura Light Regular.otf") format("opentype");
}

/*======================================================================================*/
/*common setup*/

$bg_color: black;
$text_color: white;
$hover_color: #50FAA8;

@media (max-width: 575.98px) 
{
    html 
    {
        scroll-snap-type: initial;
        scroll-snap-points-y: initial;
        scroll-snap-type:initial;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch; //mobile scrolling effect
    }

    body 
    {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    html, body 
    {
        overflow-x: hidden !important;;
    }

    /*======================================================================================*/
    /*header*/

    .navbar
    {
        width: 100%;
        height: 11vh;
        z-index: 2;
        //background: transparent;
        background: black;
        justify-content: space-between;

        .team_name
        {
            display: flex;
            justify-content: left;
            
            .logo
            {
                //background: red;
                margin-top: 0.5vh;
                margin-right: 1vw;
                height: auto;
                width: auto;
                max-width: 10vw;
                max-height: 10vh;
            }

            .team_name_word
            {
                margin-top: 3vh;
                line-height: 0.40;

                .name
                {
                    font-size: 7.5vw;
                    color: $text_color;
                    font-family: $Montserrat;
                    border: none;
                    background-color: Transparent;

                    &:hover
                    {
                        color: $hover_color;
                    }
                }

                .subname
                {
                    font-size: 4vw;
                    color: $text_color;
                    font-family: Futura Light;
                    font-weight: lighter;
                    margin-left: 0.15vw;

                    border: none;
                    background-color: Transparent;

                    &:hover
                    {
                        color: $hover_color;
                    }
                }
            }
        }
    }

    /*======================================================================================*/
    /*sidebar*/
    .menu-btn
    {
        z-index: 7;
        position: fixed;
        top: 5vh;
        right: -7vw;
        height: 100px;
        width: 100px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger 
    {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger::before,
    .menu-btn__burger::after 
    {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #fff;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger::before 
    {
      transform: translateY(-16px);
    }
    
    .menu-btn__burger::after 
    {
      transform: translateY(16px);
    }
    
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger 
    {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .menu-btn__burger::before 
    {
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn__burger::after 
    {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .sidebar
    {
        position: fixed;
        height: 100vh;
        width: 0%;
        right: 0;
        z-index: 5;
        overflow-x: hidden;
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.98);
        border-left: 1px solid white;
        
        .closebtn
        {
            color: white;
            font-family: $Montserrat;
            font-size: 50px;
            right: 0;
            position:absolute;
            margin-right: 2vw;
            margin-top: 1.8vw;

            &:hover
            {
                color: $hover_color;
                text-decoration: none;
            }
        }

        .option_menu
        {
            text-align: right;
            margin-top: 20vh;
            margin-right: 2vw;

            li 
            {
                color: white;
                font-size: 8vh;
                display: flex;
                line-height: 2;
                justify-content: center;
                align-content: center;
                flex-direction: column;

                &:hover
                {
                    color:$hover_color;
                    cursor: pointer;
                }
            }
        }
    }

    /*======================================================================================*/
    /*body*/
    .overlay 
    {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0%;
        z-index: 8;
        background: black;
    }

    .first 
    {
        top: 0;
    }

    .second 
    {
        top: 33.3%
    }

    .third 
    {
        top: 66.6%;
    }

    section 
    {
        height: 100vh;
        max-width: 100%;
        scroll-snap-align: initial;
        text-align: center;
        position: relative;
    }

    /*======================================================================================*/
    /*body content page_1*/

    .content_page_1
    {
        width: 100%;
        padding-top: 17vh;
        height: 100vh;
        color: $text_color;
        font-family: Futura Light;
        z-index: 0;
        background: black;

        .container-fluid
        {
            background: black;
            margin: 0;
            padding: 0;
            height: 83vh;
            width: 100%;
            position: relative;
            overflow: hidden;
    
            .slideshow-item
            {
                width: inherit;
                height: inherit;
                position: absolute;
                opacity: 0;
                animation: cycleImages 31s infinite;
                z-index:0;
    
                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: zoom 31s infinite;
                }
            }
        }
    
        .slideshow-item:nth-child(1),
        .slideshow-item:nth-child(1) img
        {
            animation-delay: 0s;
        }
    
        .slideshow-item:nth-child(2),
        .slideshow-item:nth-child(2) img
        {
            animation-delay: 10s;
        }
    
        .slideshow-item:nth-child(3),
        .slideshow-item:nth-child(3) img
        {
            animation-delay: 20s;
        }

        .row
        {
            //height: 100vh;
            height: 83vh;
            //width: 100%;
            //background: orange;
            display:grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);
            //grid-gap: 1px;

            .left
            {
                order:2;
            }

            .middle
            {
                order:1;
            }

            .right
            {
                order:3;
            }

            .col
            {
                //background: red;
                height:27vh; 
                //width: 100%;
                //height: 100%;
                display: flex;
                position: relative;
                justify-content: flex-start;
                align-items:center; 
                z-index:0;

                .option_box
                {
                    margin-top: 0vh;
                    margin-left:5vw;
                    z-index: 2;

                    h1
                    {
                        font-size: 10vw;
                        line-height: 0.8;
            
                        &:hover
                        {
                            color: $hover_color;
                            cursor:pointer;
                        }
                    }
            
                    h2
                    {
                        font-size: 7vw;
                        line-height: 0.01;
                        text-align: left;
                    }
            
                    hr
                    {
                        width: 100%;
                        margin-left:0;
                        transition: 1s;
                        border: 0.2rem solid white;
                    }
                }

                &::before
                {
                    content: "";
                    width:100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.0;
                    position: absolute;
                    top:0;
                    left:0;     
                    transition: 0.7s; 
                }
    
                &:hover::before
                {
                    opacity:0.84;
                }
            }
        }
    }

    /*======================================================================================*/
    /*body content page_2*/

    .content_page_2
    {
        background: #b7d2d1;
        width: 100%;
        height: auto;
        font-family: Futura Light;
        color: $text_color;
        padding-top: 13vh;
        padding-bottom: 3vh;
        z-index: -2;

        .bg_img_left
        {
            //background: red;
            position: absolute;
            bottom: 0;
            left:0;
            z-index:-1;
            width: 40%;
            height: 70vh;
            display: none;

            img
            {
                width: 100%;
            }
        }

        .bg_img_right
        {
            //background: red;
            position: absolute;
            bottom: 10vh;
            right:15vw;
            z-index:-1;
            width: 20%;
            height: 20vh;
            display: none;

            img
            {
                width: 100%;
                height: auto;
            }
        }

        .container_box
        {
            //background: red;
            width: 100%;
            height: auto;

            .row
            {
                //background: orange;
                justify-content: left;
                height: 100%;
                width: 100vw;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 0px; 
            }

            .left
            {
                background: transparent;
                width: 100%;
                height: auto;
                overflow-y: hidden;

                hr
                {
                    width: 50%;
                    margin-left:0;
                    border: 0.2rem solid white;         
                }

                h1
                {
                    margin-top: -2vh;
                    font-family: $Montserrat;
                    font-size: 8.5vw;
                    text-align: left;
                    letter-spacing: 1px;
                }

                h2
                {
                    text-align: left;
                    letter-spacing: 1px;
                }

                p
                {
                    font-size: 3vw;
                    font-family: Futura Light;
                    text-align: justify;
                    margin-top: -0.3vh;
                }

                .Value
                {
                    text-align: right;
                    text-decoration: underline;
                }
            }
        
            .right
            {
                //background-color: rgb(210, 210, 223);
                width: 100%;
                height: auto;
                z-index: 1;
                margin-left: 1vw;

                hr
                {
                    width: 50%;
                    margin-left:0;
                    border: 0.2rem solid white;         
                }

                h1
                {
                    margin-top: -2vh;
                    font-family: $Montserrat;
                    font-size: 8.5vw;
                    text-align: left;
                    letter-spacing: 1px;
                }

                h2
                {
                    text-align: left;
                }

                p
                {
                    font-size: 3vw;
                    font-family: Futura Light;
                    text-align: justify;
                    margin-top: -0.3vh;
                }
            }
        }
    }

    /*======================================================================================*/
    /*body content page_3*/

    .content_page_3
    {
        //background: #70A5A4;
        background: burlywood;
        width: 100%;
        height: 100vh;
        font-family: Futura Light;
        color: $text_color;
        padding-top: 13vh;
        display: flex;
        justify-content: center;

        .carousel-indicators
        {
            z-index:1;
        }

        .container_box
        {
            //background: red;
            width:100%;
            height: 87vh;

            .left_button
            {
                width: 7%;
                //background: rgb(226, 142, 142);

                .left_arrow
                {
                    transform: rotate(90deg);
                }
            }

            .right_button
            {
                width: 7%;
                //background: rgb(226, 142, 142);
            
                .right_arrow
                {
                    transform: rotate(-90deg);
                }
            }
        }

        .member
        {
            background: burlywood;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border:none;

            .member_left
            {
                //background: violet;
                display:none;
                width: auto;
                height: 50%;   
                
                .top
                {     
                    //background: olive;
                    //display:none; 
                    height: 85%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .member_img
                    {
                        max-width:100%;
                        max-height:100%;
                    }
                }

                .bottom
                {
                    //display:none;
                    //background: brown;
                    height: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .linkedIn_img
                    {
                        animation: fadeInRight; 
                        animation-duration: 1.5s;
                        cursor: pointer;
                        max-width:100%;
                        max-height:100%;
                    }
                }
            }

            .member_right
            {
                //background: blue;
                width: 100%;
                height: 90%;

                .Role_Name
                {
                    //background: red;

                    .Role
                    {
                        margin-left: 1.5vw;
                        font-size: 2.7vh;
                        text-align: left;
                    }
        
                    .Name
                    {
                        margin-left: 1.5vw;
                        font-size: 3vh;
                        text-align: left;
                        margin-top: -2.8vh;  
                    }
                }

                hr
                {
                    margin-top: -0.5vw;
                    margin-left: 1.5vw;
                    width: 90%;
                    text-align: left;
                    border: 0.2rem solid white;
                }
                
                .member_dscr
                {
                    margin-top: -3.5vh;
                    margin-left: 1.5vw;
                    margin-right: 1.5vw;
                    text-align: justify;
                    font-size: 1.75vh;
                    font-family: Futura Light;
                }

                .Value
                {
                    text-align: right;
                }

                .linkedIn_img_mobile
                {
                    display:initial;
                }
            }
        }
    }

    /*======================================================================================*/
    /*body content page_4*/

    .content_page_4
    {
        //background: #E2EFD3;
        //background: #ffc0a9;
        background: black;
        width: 100%;
        height: 100vh;
        font-family: Futura Light;
        color: $text_color;
        box-sizing: border-box;
        padding-top: 17vh;

        .container_box
        {
            width: 100%;
            height: 80vh;
            //background: #EFEED3;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
            grid-gap: 1px;
            background: white;

            a
            {
                height: 100%;
                width:100%;
                background-position: 0px 0px;
                position: relative;
                transition: 1s;
                color: white;

                .center_text
                {
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    font-family: Futura Light; 
                    z-index: 2; 

                    h1
                    {
                        font-size: 3.3vw;
                    }

                    h3
                    {
                        font-size: 2.6vw;
                    }
                }

                &::before
                {
                    content: "";
                    width:100%;
                    height: 100%;
                    background-color: black;
                     opacity: 0.0;
                    position: absolute;
                    top:0;
                    left:0;     
                    transition: 0.7s; 
                }
                
                &:hover::before
                {
                    opacity:0.6;
                }
    
                &:hover
                {
                    background-position: 0px -20px;
                }
            }

            .item_1
            {
                width: 100%;
                height: 100%;
                background:url("../img/2.jpg");
                background-size: cover;
                background-attachment: fixed;
            }

            .item_2
            {
                width: 100%;
                height: 100%;
                background:url("../img/1.jpg");
                background-size: cover;
                background-attachment: fixed;
            }
        }

        .Footer
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            //background: red;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3vh;
            font-family: $Montserrat;
            font-size: 2vw;
            color: black;
            letter-spacing: 2px;

            div
            {
                background: #dadfe1;
            }
        }
    }
}